body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header,
footer {
    background-color: #d28080;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

.main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #453c08;
    color: #f4f4f4;
    padding: 10px;
}

.content {
    flex: 1;
    padding: 10px;
}


.sidebar1 {
    width: 200px;
    background-color: #c0b057;
    padding: 10px;
    /* align-content: end; */
}



@media screen and (max-width:530px) {
    header {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 105%;

    }


    .content {
        width: 100%;
    }

    .sidebar,
    .sidebar1 {
        width: 100%;
        text-align: center;
        height: 30px;
    }

    footer {
        width: 100%;
    }

    .container {
        max-width: 100%;
    }
}


@media screen and (min-width: 530px) and (max-width: 1024px) {

    .sidebar,
    .sidebar1 {
        width: 100px;
        max-width: 100%;
    }

    .main {
        width: 100%;
    }

}